<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
    }

    .content {
        font-size: 20px;
        font-weight: 500;
    }

    hr {
        border: none;
        height: 1px;
    }

    .sender {
        font-size: 20px;
        font-weight: 500;
    }

    .otp {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
    }
</style>

<body>
    <h1 class="title">AlgoMate - Your DSA Companion!</h1>
    <hr />
    <p class="content">Hey there!
    <p class="content">Welcome to Algomate's Magical Portal! Now you need not register, simply verify your email and
        start your programming journey! To proceed with the user authentication, use the following OTP.</p>
    <p class="otp">{{otp}}</p>
    <p class="content">The OTP is valid only for 1 minute.</p>
    <hr />
    <p class="sender">Regards,<br />Nishakar Kumar<br />Chief Executive Officer<br />AlgoMate<br />Bangalore, India</p>
</body>